.menuContainer {
  list-style: none;
  display: grid;
  /* background-color: blue; */
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.subTitle {
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

@media only screen and (max-width: 900px) {
  .menuContainer {
    /* background-color: green; */
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .menuContainer {
    /* background-color: red; */
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
