#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.companyName {
  /* text-decoration: underline; */
  font-size: 5rem;
  font-family: "Times New Roman", Times, serif;
  transition: all 0.3s ease;
}

.companyName:hover {
  text-shadow: 0 0 20px hsl(35, 80%, 50%);
  transform: translateY(-5px);
}

footer {
  margin-top: 5rem;
}

.attribution {
  font-size: 0.75rem;
  font-style: italic;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
}

.attribution:hover {
  text-decoration: underline;
  color: hsl(35, 80%, 50%);
}
